<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page Portfolio</title>
    </head>
    <body>
        
        <h2>Découvrez mes travaux</h2>
        <p>Pour votre plaisir !</p>

        <figure>
            <img src="img/1.jpg" alt="projet 1">
            <figcaption>Projet 1 <button>Afficher les détails</button></figcaption>
        </figure>
        <figure>
            <img src="img/2.jpg" alt="projet 2">
            <figcaption>Projet 2 <button>Afficher les détails</button></figcaption>
        </figure>
        <figure>
            <img src="img/3.jpg" alt="projet 3">
            <figcaption>Projet 3 <button>Afficher les détails</button></figcaption>
        </figure>
        <figure>
            <img src="img/4.jpg" alt="projet 4">
            <figcaption>Projet 4 <button>Afficher les détails</button></figcaption>
        </figure>

        <!--Modal-->
        <section id="modal">

               <article>
                    <h2>Titre du projet 1 <i class="fa fa-times"></i></h2>
                    <img src="img/1.jpg" alt="Projet 1">
                    <p>Voici ce 1er Projet</p>
               </article>

        </section>
    </body>
</html>