<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contenu de la page</title>
    </head>
    <body>
        
        <article id="portfolio">
            <h2>mon Portfolio</h2>
              <p>Decouvrez mes travaux</p>
              <img src="http://lorempixel.com/400/400/" alt="Mon Projet">
        </article>
        
        <article id="contacts">
            <h2>Contacter moi</h2>
            <form action="#">
                <input type="email" placeholder="Votre adresse mail">
                <textarea placeholder="votre message"></textarea>
                <input type="submit" value="envoyer">
            </form>

            <aside></aside>
            
            <p>Adresse de chez moi ahahah</p>
        </article>
    </body>
</html>