<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Page à propos</title>
    </head>
    <body>
        
        <h2>Me</h2>
        <img src="img/doge.jpg" alt="Photo de profil">
        <p>Dimitri Raievsky</p>

        <h3>Mes compétences</h3>
        <ul>
            <li>
                <p><span>HTML: 80%</span></p>
            </li>
            <li>
                <p><span>CSS: 54%</span></p>
            </li>
            <li>
                <p><span>Javascript: 55%</span></p>
            </li>
            <li>
                <p><span>PHP: 70%</span></p>
            </li>
            <li>
                <p><span>Wordpress: 70%</span></p>
            </li>
        </ul>

        <p>N'hésitez pas à me contacter en cliquant <a href="#">sur ce beau lien</a></p>

    </body>
</html>