
/*importer un fichier CSS*/

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.fa-modx:before {
    content: "\f285";
    color: red;
}

nav{
    text-align: right;
    position: relative;
   
}

nav li{
    display: inline-block;

}

/*Selectionner le premier enfant*/

nav li:first-child{
    position: absolute;
    left: 0;
}

/* select le dernier enfant */

nav li:last-child{
    font-size: 3rem;
}

/* Selectionner le 2eme enfant */

nav li:nth-child(2){
    background: yellow;

}

header{
    text-align: center;
}

/* selectionner la 1ere balise rencontrée */

header p:first-of-type{
    font-size: 4rem;
}


/* Selectionner une balise par son attribut et sa valeur */

header [alt="Photo de profil"]{

    width: 1rem;
}


/*Extraire une balise de la selection */
textarea, input:not([type="submit"]){
    display: block;
    width: 100%;
}

/* Selecteur d'élément adjacent */
a + img{
    width: 2rem;

}

/*Selecteur d'enfant de 1er niveau*/
main > a{

    font-size: 3rem;
}

/*ajouter un pseudo élément à la fin de la balise h1 */
h1::after{

    /*ajouter du contenu dans le pseudo élément*/
    content: "";

    display: block;
    height: .2rem;
    background: currentColor;
    width: 10rem;
    margin:1rem auto;
}

/*Ajouter un pseudo-élément au début de la balise h1*/
h1::before{
        content: "\f005";
        position: absolute;
        top: 1.9rem;
        left: 48%;
        padding: .5rem;
        background: white;
        color: gold;

/*Font awesome Like*/
font-family: FontAwesome;


}


/* bloquer les enfants dans le parent */
h1{
    position: relative;
}