<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>portfolio</title>
    </head>
    <body>
        
        <h2>Titre de la section portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, in eum deserunt eius illo eaque rem enim accusantium consequatur doloribus debitis quis totam beatae laboriosam aperiam molestias. Quod, molestias, placeat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque illo repellendus, soluta earum nostrum deserunt consequuntur aliquam eligendi hic, commodi ipsum laudantium, vero. Et dolorem velit porro quis doloribus veritatis.</p>

    </body>
</html>