/*
Style reset
/*

 /*supprimer toutes les marges*/
    *{
        margin: 0;
        padding: 0;
        
    }

    /*Faire en sorte que 1rem soit égal à 10px*/

    html{
        font-size: 62.5%;
    }

    body{
        font-size: 1.5rem; /* => 15px */

        /* changer la police de caractére */
        font-family: "Arial", sans-serif; 
    }

    /*Supprimer la décoration des balises a */

    a{
        text-decoration: none; 
    }

    /* faire en sorte que les images ne dépassent pas leurs parents */

    img{
        max-width: 100%;
    }

/*
Style Header 
*/
            header{
                text-align: center;
                 color: goldenrod;
                 background: black;
                  
                 }

                Nav{
                    /*mettre le text en MAJ*/
                    text-transform: uppercase;
                    background: white;
                    text-align: left;
                    
                }
                
                Nav a{
                    color:black;
                    
                    /*Texte en gras*/
                    font-weight: bold;
                }

                /*aligner les balises li */
                li{
                   display: inline-block; 

                   /*ajouter une marge ext à droite*/
                   margin-right: 1rem;
                }


